<body class="home-page noleftbar norightbar qc-enabled qv-enabled not-logged-in" data-currency="$" data-decimal="2">
<div id="st-container" class="st-container">

<div class="st-pusher">
<nav class="st-menu st-effect st-effect-1" id="mobile-categories">
<ul style="max-height: 1080px;">
<li class="dropdown hasMegamenu hasSub alignLeft"><span class="toggle-expand"></span>
<a href="New-In_c_13.html" class="cat">New In</a>

<div class="subMegaMenu dropDefault" style="width: 208px;"><div class="cateArea" style="width: 100%; max-width: 100%;">
<ul><li class="hasSub"><span class="toggle-expand"></span><a href="#">Bibendumetos</a>                    <ul>                        <li><a href="#">Accessorius</a></li>                        <li><a href="#">Comodianos</a></li>                    </ul>                  </li>                  <li class="hasSub"><span class="toggle-expand"></span><a href="#">Consequatod</a>                        <ul>                            <li><a href="#">Dincidunteros</a></li>                            <li><a href="#">Dincidunter</a></li>                        </ul>                    </li>                    <li><a href="#">Dincidunteros</a></li>                    <li class="hasSub"><span class="toggle-expand"></span><a href="#">Loremous Comodous</a>                        <ul>                            <li><a href="#">Loremoutica</a></li>                            <li><a href="#">Loremouticas</a></li>                            <li><a href="#">Pellentes Habitantos</a></li>                        </ul>                    </li>                    <li><a href="#">Milancelos A Lanos</a></li>                    <li><a href="#">Pellentes Habitanto</a></li>                    <li><a href="#">Scelerisque Yurna</a></li></ul>
</div></div>

</li>
<li class="dropdown hasMegamenu hasSub fullWidth"><span class="toggle-expand"></span>
<a href="Diamonds_c_11.html" class="cat">Diamonds</a>

<div class="subMegaMenu imageRight" style="width: 100%;"><div class="container cate-3-col"><div class="cateArea" style="width: 100%; max-width: 60%;">
<ul>
<li><a href="Cosmopoli_c_50.html" class="subcat">Cosmopoli</a></li>
<li><a href="Consequatod_c_32.html" class="subcat">Consequatod</a></li>
<li><a href="Dincidunteros_c_31.html" class="subcat">Dincidunteros</a></li>
<li><a href="Fermentum-loremo_c_51.html" class="subcat">Fermentum loremo</a></li>
<li><a href="Habitasse-molatea_c_52.html" class="subcat">Habitasse molatea</a></li>
<li><a href="Maecenas-commodos_c_26.html" class="subcat">Maecenas commodos</a></li>
<li><a href="Maecenas-commhn_c_69.html" class="subcat">Maecenas commhn</a></li>
<li><a href="Loremouticas_c_33.html" class="subcat">Loremouticas</a></li>
<li><a href="Malesuada-sarc_c_21.html" class="subcat">Malesuada sarc</a></li>
<li><a href="Malesuada-saraa_c_70.html" class="subcat">Malesuada saraa</a></li>
<li><a href="Malesuada-sarcu_c_18.html" class="subcat">Malesuada sarcu</a></li>
<li><a href="Malesuada-sartu9o_c_71.html" class="subcat">Malesuada sartu9o</a></li>
<li><a href="Loremous_c_45.html" class="subcat">Loremous</a></li>
<li><a href="Loremous-Lsdsc_c_72.html" class="subcat">Loremous Lsdsc</a></li>
<li><a href="Namdos-Hempus_c_42.html" class="subcat">Namdos Hempus</a></li>
<li><a href="Namdos-Hemp_c_73.html" class="subcat">Namdos Hemp</a></li>
<li><a href="Nectellus_c_38.html" class="subcat">Nectellus</a></li>
<li><a href="Nectellus-ellp_c_74.html" class="subcat">Nectellus ellp</a></li>
<li><a href="Senectu_c_41.html" class="subcat">Senectu</a></li>
<li><a href="Senectu-Wcasc_c_75.html" class="subcat">Senectu Wcasc</a></li>
<li><a href="Solutmade_c_30.html" class="subcat">Solutmade</a></li>
<li><a href="Solutmade-Cassdc_c_76.html" class="subcat">Solutmade Cassdc</a></li>
<li><a href="Maecenas-commo_c_28.html" class="subcat">Maecenas commo</a></li>
<li><a href="Maecenas-com_c_77.html" class="subcat">Maecenas com</a></li>
 <li><a href="Fermentum-loremous_c_47.html" class="subcat">Fermentum loremous</a></li>
<li><a href="Fermentum-loremo_c_78.html" class="subcat">Fermentum loremo</a></li>
<li><a href="Malesuada-sarcus_c_25.html" class="subcat">Malesuada sarcus</a></li>
<li><a href="Habitasse-molateas_c_46.html" class="subcat">Habitasse molateas</a></li>
</ul>
</div><div class="imageArea colRight" style="width: 100%; max-width: 40%;"><div class="four-images">                    <a href="#"><img src="assets/images/megamenu/mega-menu-1.jpg"></a>                    <a href="#"><img src="assets/images/megamenu/mega-menu-2.jpg"></a>                    <a href="#"><img src="assets/images/megamenu/mega-menu-3.jpg"></a>                    <a href="#"><img src="assets/images/megamenu/mega-menu-4.jpg"></a>                </div></div></div></div>

</li>
<li class="dropdown hasMegamenu hasSub fullWidth"><span class="toggle-expand"></span>
<a href="Engagement-Rings_c_12.html" class="cat">Engagement Rings</a>

<div class="subMegaMenu imageRight hasBottomCate" style="width: 100%;"><div class="container cate-3-col"><div class="cateArea" style="width: 100%; max-width: 60%;">
<ul>
<li><a href="Loremoutica_c_37.html" class="subcat">Loremoutica</a></li>
<li><a href="Maecenas-commod_c_49.html" class="subcat">Maecenas commod</a></li>
<li><a href="Malesuada-sa_c_53.html" class="subcat">Malesuada sa</a></li>
<li><a href="Milancelos-A-Lanos_c_34.html" class="subcat">Milancelos A Lanos</a></li>
<li><a href="Men_c_1.html" class="subcat">Men</a></li>
<li><a href="Pellentes-Habita_c_58.html" class="subcat">Pellentes Habita</a></li>
<li><a href="Pellentes-Habitantos_c_35.html" class="subcat">Pellentes Habitantos</a></li>
<li><a href="Pellentes-Habbdff_c_66.html" class="subcat">Pellentes Habbdff</a></li>
<li><a href="Pellentes-Habgjn_c_65.html" class="subcat">Pellentes Habgjn</a></li>
<li><a href="Pellentes-Habitant_c_59.html" class="subcat">Pellentes Habitant</a></li>
<li><a href="Pellentes-Habitanto_c_43.html" class="subcat">Pellentes Habitanto</a></li>
<li><a href="Pellentes-Habsdsdv_c_64.html" class="subcat">Pellentes Habsdsdv</a></li>
<li><a href="Pellentes-Tzdsc_c_63.html" class="subcat">Pellentes Tzdsc</a></li>
<li><a href="Scelerisque-Yurna_c_19.html" class="subcat">Scelerisque Yurna</a></li>
<li><a href="Scelerisque-Yurns_c_60.html" class="subcat">Scelerisque Yurns</a></li>
<li><a href="Scelerisque-Yurnssa_c_67.html" class="subcat">Scelerisque Yurnssa</a></li>
<li><a href="Scelerisque-Yurygg_c_68.html" class="subcat">Scelerisque Yurygg</a></li>
<li><a href="Senectus_c_39.html" class="subcat">Senectus</a></li>
<li><a href="Senectus-adase_c_61.html" class="subcat">Senectus adase</a></li>
<li><a href="Senectus-Zsdf_c_62.html" class="subcat">Senectus Zsdf</a></li>
<li><a href="Solutmades_c_44.html" class="subcat">Solutmades</a></li>
<li><a href="Women_c_7.html" class="subcat">Women</a></li>
<li><a href="Accessories_c_8.html" class="subcat">Accessories</a></li>
</ul>
</div><div class="imageArea colRight" style="width: 100%; max-width: 40%;"><div class="col-left">                <a href="#"><img src="assets/images/megamenu/mega-menu-5.jpg"></a>                <a href="#"><img src="assets/images/megamenu/mega-menu-6.jpg"></a>            </div>            <div class="col-right">                <a href="#"><img src="assets/images/megamenu/mega-menu-7.jpg"></a>            </div></div></div><div class="bottomCate"><div class="container own-text"><p>Phasellus lorem malesuada ligula pulvinar commodo maecenas. <a href="#">Details</a> <span>*</span></p></div></div></div>

</li>
<li class="dropdown hasMegamenu hasSub fullWidth"><span class="toggle-expand"></span>
<a href="Earrings_c_79.html" class="cat">Earrings</a>

<div class="subMegaMenu imageLeft" style="width: 100%;"><div class="container cate-3-col"><div class="imageArea colLeft" style="width: 100%; max-width: 40%;"><a href="#"><img src="assets/images/megamenu/mega-menu-8.jpg"></a></div><div class="cateArea" style="width: 100%; max-width: 60%;">
<ul>
<li><a href="Cosmopoli_c_95.html" class="subcat">Cosmopoli</a></li>
<li><a href="Consequatod_c_87.html" class="subcat">Consequatod</a></li>
<li><a href="Dincidunteros_c_86.html" class="subcat">Dincidunteros</a></li>
<li><a href="Fermentum-loremo_c_96.html" class="subcat">Fermentum loremo</a></li>
<li><a href="Habitasse-molatea_c_97.html" class="subcat">Habitasse molatea</a></li>
<li><a href="Maecenas-commodos_c_83.html" class="subcat">Maecenas commodos</a></li>
<li><a href="Loremouticas_c_88.html" class="subcat">Loremouticas</a></li>
<li><a href="Malesuada-sarc_c_81.html" class="subcat">Malesuada sarc</a></li>
<li><a href="Malesuada-sarcu_c_80.html" class="subcat">Malesuada sarcu</a></li>
<li><a href="Loremous_c_92.html" class="subcat">Loremous</a></li>
<li><a href="Namdos-Hempus_c_91.html" class="subcat">Namdos Hempus</a></li>
<li><a href="Nectellus_c_89.html" class="subcat">Nectellus</a></li>
<li><a href="Senectu_c_90.html" class="subcat">Senectu</a></li>
<li><a href="Solutmade_c_85.html" class="subcat">Solutmade</a></li>
</ul>
</div></div></div>

</li>
<li class="dropdown hasMegamenu hasSub alignLeft"><span class="toggle-expand"></span>
<a href="Bracelets_c_108.html" class="cat">Bracelets</a>

<div class="subMegaMenu imageRight" style="width: 493px;"><div class="cateArea" style="width: 100%; max-width: 50%;">
<ul>
<li><a href="Cosmopoli_c_120.html" class="subcat">Cosmopoli</a></li>
<li><a href="Consequatod_c_114.html" class="subcat">Consequatod</a></li>
<li><a href="Dincidunteros_c_113.html" class="subcat">Dincidunteros</a></li>
<li><a href="Habitasse-molatea_c_122.html" class="subcat">Habitasse molatea</a></li>
<li><a href="Loremouticas_c_115.html" class="subcat">Loremouticas</a></li>
<li><a href="Nectellus_c_116.html" class="subcat">Nectellus</a></li>
<li><a href="Senectu_c_117.html" class="subcat">Senectu</a></li>
<li><a href="Solutmade_c_112.html" class="subcat">Solutmade</a></li>
</ul>
</div><div class="imageArea colRight" style="width: 100%; max-width: 50%;"><a href="#"><img src="assets/images/megamenu/mega-menu-9.jpg"></a></div></div>

</li>
<li class="dropdown hasSub"><span class="toggle-expand"></span>
<a href="Necklaces_c_17.html" class="cat">Necklaces</a>

<div class="subMenu">
<ul>
<li><a href="Nectellus_c_127.html" class="subcat">Nectellus</a></li>
<li><a href="Solutmade_c_123.html" class="subcat">Solutmade</a></li>
<li><a href="Senectu_c_126.html" class="subcat">Senectu</a></li>
</ul>
</div>

</li>
<li class="">
<a href="Designer_c_56.html" class="cat">Designer</a>

<div class="subMenu">
<ul>
</ul>
</div>

</li>
</ul>
</nav>
<nav class="st-menu st-effect st-effect-2" id="mobile-customer">
<ul><li>

<div class="not-logged"><a href="myaccount.asp">Login</a> or <a href="register.asp">Create an Account</a></div>


</li><li class="wishlist">
<svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 471.701 471.701" width="25px" height="21px">
<path d="M433.601,67.001c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3l-12.9,12.9l-13.1-13.1
                                        c-24.7-24.7-57.6-38.4-92.5-38.4c-34.8,0-67.6,13.6-92.2,38.2c-24.7,24.7-38.3,57.5-38.2,92.4c0,34.9,13.7,67.6,38.4,92.3
                                        l187.8,187.8c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4
                                        C471.801,124.501,458.301,91.701,433.601,67.001z M414.401,232.701l-178.7,178l-178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3
                                        s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4
                                        c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3c19.6,19.6,30.3,45.6,30.3,73.3
                                        C444.801,187.101,434.001,213.101,414.401,232.701z"></path>
</svg>
<a href="view_wishlist.asp">My <span>Wish Lists</span></a>
</li></ul>
</nav>
<header class="site-header">
<div class="header-top">
<div class="container">
<p class="text-center">Free Shipping For All Orders</p>
</div>
</div>

<div id="mobile-navigation" class="visible-xs">
<ul id="st-trigger-effects">
<li class="bar-menu"><a data-effect="st-effect-1" href="javascript:void(0);"><div class="hamburger-menu"></div></a></li>
<li class="search-mobile">
<span class="search-toggle-mobile hidden-md hidden-lg"><svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path></svg></span>
</li>
<li class="logo-mobile">
<div class="logo"></div>
</li>
<li class="mobileAccount"><a data-effect="st-effect-2" href="javascript:void(0);">
<svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
<path d="M437.02,330.98c-27.883-27.882-61.071-48.523-97.281-61.018C378.521,243.251,404,198.548,404,148
                                C404,66.393,337.607,0,256,0S108,66.393,108,148c0,50.548,25.479,95.251,64.262,121.962
                                c-36.21,12.495-69.398,33.136-97.281,61.018C26.629,379.333,0,443.62,0,512h40c0-119.103,96.897-216,216-216s216,96.897,216,216
                                h40C512,443.62,485.371,379.333,437.02,330.98z M256,256c-59.551,0-108-48.448-108-108S196.449,40,256,40
                                c59.551,0,108,48.448,108,108S315.551,256,256,256z"></path>
</svg>
</a></li>
<li><a id="mobile-cart" href="view_cart.asp"><span class="cart-icon"><img src="assets/templates/bijoux-core/images/cart-icon.png" alt="" width="18" height="24"></span><span class="item-count">0</span></a></li>
</ul>
</div>
<div class="header-bottom">
<div class="container">
<div class="row">
<div class="col-sm-4 text-left">
<div class="useraccount login-register clearfix hide-mobile">

<div class="not-logged"><a href="myaccount.asp">Login</a> or <a href="register.asp">Create an Account</a></div>


</div>
<div id="FRAME_SEARCH">
<span class="search-toggle hide-mobile">
<svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="open"><path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path></svg>
<svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="close">
<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
</svg>
</span>
<div id="searchBox" class="searchBox">
<form method="get" name="searchForm" action="search.asp">
<div class="search-form">
<input type="text" id="searchlight" name="keyword" value="" placeholder="Search" class="search-text form-control">
<button type="submit" class="search-submit btn btn-default btn-inverse"><svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path></svg></button>
</div>
<div class="searchlight-balloon" style="position: absolute; z-index: 1005; top: 26px; display: none; left: 15px;"><div class="searchlight-results-wrapper" style="height: 100%;"></div></div></form>
<div class="clear"></div>
</div>
</div>
</div>
<div class="col-sm-4 text-center hide-mobile">
<div class="logo">
<a href="/" title="Bijoux Store"><img src="assets/images/3dcart/bijoux.png" alt="Bijoux Store"></a>
</div>
</div>
<div class="col-sm-4 text-right">

<div class="minicart hide-mobile" id="top-cart">
<a href="javascript:void(0);" class="minicart-inner clearfix">
<span class="cart-icon"><img src="assets/templates/bijoux-core/images/cart-icon.png" alt="" width="17" height="22"></span>
<span class="cart-details">
<span class="cart-title"> Shopping Cart</span>
<span class="cart-count"><span class="minicart-items">0</span></span>
</span>
</a>

<link rel="stylesheet" property="stylesheet" href="assets/templates/bijoux-core/css/dropdown-cart.css?vcart=11.3.6" type="text/css" media="screen">
<div id="dropdown-cart" class="dropdown-cart"><div class="cart-empty"><div class="alert alert-warning text-center">You don't have any products in your shopping cart.</div></div></div>
</div> 
<div class="wishlist-link hide-mobile">
<svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 471.701 471.701" width="25px" height="21px">
<path d="M433.601,67.001c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3l-12.9,12.9l-13.1-13.1
                                        c-24.7-24.7-57.6-38.4-92.5-38.4c-34.8,0-67.6,13.6-92.2,38.2c-24.7,24.7-38.3,57.5-38.2,92.4c0,34.9,13.7,67.6,38.4,92.3
                                        l187.8,187.8c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4
                                        C471.801,124.501,458.301,91.701,433.601,67.001z M414.401,232.701l-178.7,178l-178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3
                                        s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4
                                        c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3c19.6,19.6,30.3,45.6,30.3,73.3
                                        C444.801,187.101,434.001,213.101,414.401,232.701z"></path>
</svg>
<a href="view_wishlist.asp">My <span>Wish Lists</span></a>
</div>
</div>
</div>
</div>
</div>
</header>
<nav id="top-categories-menu" class="hide-mobile">
<a class="logo-fixed" href="/" title="Bijoux Store">
<img src="assets/images/logo-fixed.png" alt="Bijoux Store">
</a>
<div class="container">
<ul>
<li class="dropdown hasMegamenu hasSub alignLeft">
<a href="New-In_c_13.html" class="cat">New In</a>

<div class="subMegaMenu dropDefault" style="width: 208px;"><div class="cateArea" style="width: 100%; max-width: 100%;">
<ul><li class="hasSub"><a href="#">Bibendumetos</a>                    <ul>                        <li><a href="#">Accessorius</a></li>                        <li><a href="#">Comodianos</a></li>                    </ul>                  </li>                  <li class="hasSub"><a href="#">Consequatod</a>                        <ul>                            <li><a href="#">Dincidunteros</a></li>                            <li><a href="#">Dincidunter</a></li>                        </ul>                    </li>                    <li><a href="#">Dincidunteros</a></li>                    <li class="hasSub"><a href="#">Loremous Comodous</a>                        <ul>                            <li><a href="#">Loremoutica</a></li>                            <li><a href="#">Loremouticas</a></li>                            <li><a href="#">Pellentes Habitantos</a></li>                        </ul>                    </li>                    <li><a href="#">Milancelos A Lanos</a></li>                    <li><a href="#">Pellentes Habitanto</a></li>                    <li><a href="#">Scelerisque Yurna</a></li></ul>
</div></div>

</li>
<li class="dropdown hasMegamenu hasSub fullWidth">
<a href="Diamonds_c_11.html" class="cat">Diamonds</a>

<div class="subMegaMenu imageRight" style="width: 100%;"><div class="container cate-3-col"><div class="cateArea" style="width: 100%; max-width: 60%;">
<ul>
<li><a href="Cosmopoli_c_50.html" class="subcat">Cosmopoli</a></li>
<li><a href="Consequatod_c_32.html" class="subcat">Consequatod</a></li>
<li><a href="Dincidunteros_c_31.html" class="subcat">Dincidunteros</a></li>
<li><a href="Fermentum-loremo_c_51.html" class="subcat">Fermentum loremo</a></li>
<li><a href="Habitasse-molatea_c_52.html" class="subcat">Habitasse molatea</a></li>
<li><a href="Maecenas-commodos_c_26.html" class="subcat">Maecenas commodos</a></li>
<li><a href="Maecenas-commhn_c_69.html" class="subcat">Maecenas commhn</a></li>
<li><a href="Loremouticas_c_33.html" class="subcat">Loremouticas</a></li>
<li><a href="Malesuada-sarc_c_21.html" class="subcat">Malesuada sarc</a></li>
<li><a href="Malesuada-saraa_c_70.html" class="subcat">Malesuada saraa</a></li>
<li><a href="Malesuada-sarcu_c_18.html" class="subcat">Malesuada sarcu</a></li>
<li><a href="Malesuada-sartu9o_c_71.html" class="subcat">Malesuada sartu9o</a></li>
<li><a href="Loremous_c_45.html" class="subcat">Loremous</a></li>
<li><a href="Loremous-Lsdsc_c_72.html" class="subcat">Loremous Lsdsc</a></li>
<li><a href="Namdos-Hempus_c_42.html" class="subcat">Namdos Hempus</a></li>
<li><a href="Namdos-Hemp_c_73.html" class="subcat">Namdos Hemp</a></li>
<li><a href="Nectellus_c_38.html" class="subcat">Nectellus</a></li>
<li><a href="Nectellus-ellp_c_74.html" class="subcat">Nectellus ellp</a></li>
<li><a href="Senectu_c_41.html" class="subcat">Senectu</a></li>
<li><a href="Senectu-Wcasc_c_75.html" class="subcat">Senectu Wcasc</a></li>
<li><a href="Solutmade_c_30.html" class="subcat">Solutmade</a></li>
<li><a href="Solutmade-Cassdc_c_76.html" class="subcat">Solutmade Cassdc</a></li>
<li><a href="Maecenas-commo_c_28.html" class="subcat">Maecenas commo</a></li>
<li><a href="Maecenas-com_c_77.html" class="subcat">Maecenas com</a></li>
 <li><a href="Fermentum-loremous_c_47.html" class="subcat">Fermentum loremous</a></li>
<li><a href="Fermentum-loremo_c_78.html" class="subcat">Fermentum loremo</a></li>
<li><a href="Malesuada-sarcus_c_25.html" class="subcat">Malesuada sarcus</a></li>
<li><a href="Habitasse-molateas_c_46.html" class="subcat">Habitasse molateas</a></li>
</ul>
</div><div class="imageArea colRight" style="width: 100%; max-width: 40%;"><div class="four-images">                    <a href="#"><img src="assets/images/megamenu/mega-menu-1.jpg"></a>                    <a href="#"><img src="assets/images/megamenu/mega-menu-2.jpg"></a>                    <a href="#"><img src="assets/images/megamenu/mega-menu-3.jpg"></a>                    <a href="#"><img src="assets/images/megamenu/mega-menu-4.jpg"></a>                </div></div></div></div>

</li>
<li class="dropdown hasMegamenu hasSub fullWidth">
<a href="Engagement-Rings_c_12.html" class="cat">Engagement Rings</a>

<div class="subMegaMenu imageRight hasBottomCate" style="width: 100%;"><div class="container cate-3-col"><div class="cateArea" style="width: 100%; max-width: 60%;">
<ul>
<li><a href="Loremoutica_c_37.html" class="subcat">Loremoutica</a></li>
<li><a href="Maecenas-commod_c_49.html" class="subcat">Maecenas commod</a></li>
<li><a href="Malesuada-sa_c_53.html" class="subcat">Malesuada sa</a></li>
<li><a href="Milancelos-A-Lanos_c_34.html" class="subcat">Milancelos A Lanos</a></li>
<li><a href="Men_c_1.html" class="subcat">Men</a></li>
<li><a href="Pellentes-Habita_c_58.html" class="subcat">Pellentes Habita</a></li>
<li><a href="Pellentes-Habitantos_c_35.html" class="subcat">Pellentes Habitantos</a></li>
<li><a href="Pellentes-Habbdff_c_66.html" class="subcat">Pellentes Habbdff</a></li>
<li><a href="Pellentes-Habgjn_c_65.html" class="subcat">Pellentes Habgjn</a></li>
<li><a href="Pellentes-Habitant_c_59.html" class="subcat">Pellentes Habitant</a></li>
<li><a href="Pellentes-Habitanto_c_43.html" class="subcat">Pellentes Habitanto</a></li>
<li><a href="Pellentes-Habsdsdv_c_64.html" class="subcat">Pellentes Habsdsdv</a></li>
<li><a href="Pellentes-Tzdsc_c_63.html" class="subcat">Pellentes Tzdsc</a></li>
<li><a href="Scelerisque-Yurna_c_19.html" class="subcat">Scelerisque Yurna</a></li>
<li><a href="Scelerisque-Yurns_c_60.html" class="subcat">Scelerisque Yurns</a></li>
<li><a href="Scelerisque-Yurnssa_c_67.html" class="subcat">Scelerisque Yurnssa</a></li>
<li><a href="Scelerisque-Yurygg_c_68.html" class="subcat">Scelerisque Yurygg</a></li>
<li><a href="Senectus_c_39.html" class="subcat">Senectus</a></li>
<li><a href="Senectus-adase_c_61.html" class="subcat">Senectus adase</a></li>
<li><a href="Senectus-Zsdf_c_62.html" class="subcat">Senectus Zsdf</a></li>
<li><a href="Solutmades_c_44.html" class="subcat">Solutmades</a></li>
<li><a href="Women_c_7.html" class="subcat">Women</a></li>
<li><a href="Accessories_c_8.html" class="subcat">Accessories</a></li>
</ul>
</div><div class="imageArea colRight" style="width: 100%; max-width: 40%;"><div class="col-left">                <a href="#"><img src="assets/images/megamenu/mega-menu-5.jpg"></a>                <a href="#"><img src="assets/images/megamenu/mega-menu-6.jpg"></a>            </div>            <div class="col-right">                <a href="#"><img src="assets/images/megamenu/mega-menu-7.jpg"></a>            </div></div></div><div class="bottomCate"><div class="container own-text"><p>Phasellus lorem malesuada ligula pulvinar commodo maecenas. <a href="#">Details</a> <span>*</span></p></div></div></div>

</li>
<li class="dropdown hasMegamenu hasSub fullWidth">
<a href="Earrings_c_79.html" class="cat">Earrings</a>

<div class="subMegaMenu imageLeft" style="width: 100%;"><div class="container cate-3-col"><div class="imageArea colLeft" style="width: 100%; max-width: 40%;"><a href="#"><img src="assets/images/megamenu/mega-menu-8.jpg"></a></div><div class="cateArea" style="width: 100%; max-width: 60%;">
<ul>
<li><a href="Cosmopoli_c_95.html" class="subcat">Cosmopoli</a></li>
<li><a href="Consequatod_c_87.html" class="subcat">Consequatod</a></li>
<li><a href="Dincidunteros_c_86.html" class="subcat">Dincidunteros</a></li>
<li><a href="Fermentum-loremo_c_96.html" class="subcat">Fermentum loremo</a></li>
<li><a href="Habitasse-molatea_c_97.html" class="subcat">Habitasse molatea</a></li>
<li><a href="Maecenas-commodos_c_83.html" class="subcat">Maecenas commodos</a></li>
<li><a href="Loremouticas_c_88.html" class="subcat">Loremouticas</a></li>
<li><a href="Malesuada-sarc_c_81.html" class="subcat">Malesuada sarc</a></li>
<li><a href="Malesuada-sarcu_c_80.html" class="subcat">Malesuada sarcu</a></li>
<li><a href="Loremous_c_92.html" class="subcat">Loremous</a></li>
<li><a href="Namdos-Hempus_c_91.html" class="subcat">Namdos Hempus</a></li>
<li><a href="Nectellus_c_89.html" class="subcat">Nectellus</a></li>
<li><a href="Senectu_c_90.html" class="subcat">Senectu</a></li>
<li><a href="Solutmade_c_85.html" class="subcat">Solutmade</a></li>
</ul>
</div></div></div>

</li>
<li class="dropdown hasMegamenu hasSub alignLeft">
<a href="Bracelets_c_108.html" class="cat">Bracelets</a>

<div class="subMegaMenu imageRight" style="width: 493px;"><div class="cateArea" style="width: 100%; max-width: 50%;">
<ul>
<li><a href="Cosmopoli_c_120.html" class="subcat">Cosmopoli</a></li>
<li><a href="Consequatod_c_114.html" class="subcat">Consequatod</a></li>
<li><a href="Dincidunteros_c_113.html" class="subcat">Dincidunteros</a></li>
<li><a href="Habitasse-molatea_c_122.html" class="subcat">Habitasse molatea</a></li>
<li><a href="Loremouticas_c_115.html" class="subcat">Loremouticas</a></li>
<li><a href="Nectellus_c_116.html" class="subcat">Nectellus</a></li>
<li><a href="Senectu_c_117.html" class="subcat">Senectu</a></li>
<li><a href="Solutmade_c_112.html" class="subcat">Solutmade</a></li>
</ul>
</div><div class="imageArea colRight" style="width: 100%; max-width: 50%;"><a href="#"><img src="assets/images/megamenu/mega-menu-9.jpg"></a></div></div>

</li>
<li class="dropdown hasSub">
<a href="Necklaces_c_17.html" class="cat">Necklaces</a>

<div class="subMenu">
<ul>
<li><a href="Nectellus_c_127.html" class="subcat">Nectellus</a></li>
<li><a href="Solutmade_c_123.html" class="subcat">Solutmade</a></li>
<li><a href="Senectu_c_126.html" class="subcat">Senectu</a></li>
</ul>
</div>

</li>
<li class="">
<a href="Designer_c_56.html" class="cat">Designer</a>

<div class="subMenu">
<ul>
</ul>
</div>

</li>
</ul>
</div>
</nav>

<section id="home" class="home-page-content page-content">
<div id="mainContainer">
<section class="homepage-slider">

<div class="homeCarousel flexslider" data-animation="fade" data-slideshowspeed="2000">
<ul class="slides owl-carousel owl-loaded owl-drag">




<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2462px, 0px, 0px); transition: all 0.25s ease 0s; width: 7386px;"><div class="owl-item cloned" style="width: 1231px;"><li><a href=""><img src="assets/images/3dcart/slider1.jpg" alt=""></a></li></div><div class="owl-item cloned" style="width: 1231px;"><li><a href=""><img src="assets/images/3dcart/slider2.jpg" alt=""></a></li></div><div class="owl-item active" style="width: 1231px;"><li><a href=""><img src="assets/images/3dcart/slider1.jpg" alt=""></a></li></div><div class="owl-item" style="width: 1231px;"><li><a href=""><img src="assets/images/3dcart/slider2.jpg" alt=""></a></li></div><div class="owl-item cloned" style="width: 1231px;"><li><a href=""><img src="assets/images/3dcart/slider1.jpg" alt=""></a></li></div><div class="owl-item cloned" style="width: 1231px;"><li><a href=""><img src="assets/images/3dcart/slider2.jpg" alt=""></a></li></div></div></div><div class="owl-nav"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div><div class="owl-dots"><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div></div></ul>
</div>

</section>
<div id="home-top-banners">
<div class="container">
<h3 class="module-heading wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;"><span>Shop By Collection</span></h3>
<ul class="row">
<li class="col-sm-4 col-xs-12 banner-item wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
<a class="img-wrap" href="#">
<img src="/assets/images/banners/home-top-banner-1.jpg" alt="Editor's Pick">
<span>Diamonds</span>
</a>
<a class="img-text" href="#"><h4>Lorem De Dorus</h4></a>
</li>
<li class="col-sm-4 col-xs-12 banner-item wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
<a class="img-wrap" href="#">
<img src="/assets/images/banners/home-top-banner-2.jpg" alt="Shoes">
<span>necklaces</span>
</a>
<a class="img-text" href="#"><h4>Milancelos A Lanos</h4></a>
</li>
<li class="col-sm-4 col-xs-12 banner-item wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
<a class="img-wrap" href="#">
<img src="/assets/images/banners/home-top-banner-3.jpg" alt="Accessories">
<span>Bracelets</span>
</a>
<a class="img-text" href="#"><h4>Lynn Cosmopolis</h4></a>
</li>
<li class="col-sm-4 col-xs-12 banner-item wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
<a class="img-wrap" href="#">
<img src="/assets/images/banners/home-top-banner-4.jpg" alt="Accessories">
<span>earrings</span>
</a>
<a class="img-text" href="#"><h4>Accessorius</h4></a>
</li>
<li class="col-sm-4 col-xs-12 banner-item wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
<a class="img-wrap" href="#">
<img src="/assets/images/banners/home-top-banner-5.jpg" alt="Accessories">
<span>rings</span>
</a>
<a class="img-text" href="#"><h4>Nor Loremirus</h4></a>
</li>
<li class="col-sm-4 col-xs-12 banner-item wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
<a class="img-wrap" href="#">
<img src="/assets/images/banners/home-top-banner-6.jpg" alt="Accessories">
<span>gold</span>
</a>
<a class="img-text" href="#"><h4>Comos De Milano</h4></a>
</li>
</ul></div>
</div>

<div id="fullWidthBlock">
<img src="/assets/images/banners/fullWidthBlock-bg.jpg" alt="Shop The Collection" data-parallax="{&quot;y&quot;: 150, &quot;smoothness&quot;: 50}" style="transform:translate3d(0px, 0.049px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); -webkit-transform:translate3d(0px, 0.049px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); ">
<div class="container">
<div class="custom-content">
<h2>Lovely Jewels</h2>
<p class="custom-desc">Shop our most popular products curated by Bijoux</p>
<a href="#" class="btn">Shop Now</a>
</div>
</div>
</div> 


<section id="feautered-products" class="products-section">
<div class="container">
<h3 class="module-heading header-specials"><span>Featured Products</span></h3>

<div class="product-items product-items-4">

<div class="product-item wow fadeInUp" data-catalogid="13" data-ajaxcart="1" data-addcart-callback="addcart_callback" data-categoryid="0" style="visibility: visible; animation-name: fadeInUp;">
<div class="img">
<a href="Dinterdum-pretium-es-condimentus_p_13.html">
<img src="assets/images/3dcart/thumbnails/product2_thumbnail.jpg" alt="Dinterdum pretium es condimentus">
</a>
<div class="action hidden-xs hidden-sm hidden-md">
<a href="add_cart.asp?quick=1&amp;item_id=13&amp;cat_id=0" class="add-to-cart btn btn-default">
<span class="buyitlink-text"> Select Options</span>
<span class="ajaxcart-loader icon-spin2 animate-spin"></span>
<span class="ajaxcart-added icon-ok"></span>
</a>
<div class="reviews">


<span class="reviews-stars rating-0"></span> <span class="reviews-count">(0)</span>


</div>

<button class="quickview" data-toggle="modal">Quick View</button>

</div>
</div> 
<div class="product-desc">
<div class="name">
<a href="Dinterdum-pretium-es-condimentus_p_13.html">Dinterdum pretium es condimentus</a>
</div>
<div class="reviews hidden-lg">


<span class="reviews-stars rating-0"></span> <span class="reviews-count">(0)</span>


</div>
<div class="desc">Sample Product</div>
<div class="price">

<span class="regular-price">$968.00</span>

</div>
<div class="status">

<span class="availability">In Stock.</span>

</div>

<div class="action hidden-lg">
<a href="add_cart.asp?quick=1&amp;item_id=13&amp;cat_id=0" class="add-to-cart btn btn-default">
<span class="buyitlink-text"> Select Options</span>
<span class="buyitlink-text ajaxcart-loader"> Select Options</span>
<span class="buyitlink-text ajaxcart-added"> Select Options</span>
</a>
</div>

</div> 
</div>
<div class="product-item wow fadeInUp" data-catalogid="15" data-ajaxcart="1" data-addcart-callback="addcart_callback" data-categoryid="0" style="visibility: visible; animation-name: fadeInUp;">
<div class="img">
<a href="Loremous-saliduar-dan-scelerisques_p_15.html">
<img src="assets/images/3dcart/product4_thumbnail.jpg" alt="Loremous saliduar dan scelerisques">
</a>
<div class="action hidden-xs hidden-sm hidden-md">
<a href="add_cart.asp?quick=1&amp;item_id=15&amp;cat_id=0" class="add-to-cart btn btn-default">
<span class="buyitlink-text"> Select Options</span>
<span class="ajaxcart-loader icon-spin2 animate-spin"></span>
<span class="ajaxcart-added icon-ok"></span>
</a>
<div class="reviews">


<span class="reviews-stars rating-0"></span> <span class="reviews-count">(0)</span>


</div>

<button class="quickview" data-toggle="modal">Quick View</button>

</div>
</div> 
<div class="product-desc">
<div class="name">
<a href="Loremous-saliduar-dan-scelerisques_p_15.html">Loremous saliduar dan scelerisques</a>
</div>
<div class="reviews hidden-lg">


<span class="reviews-stars rating-0"></span> <span class="reviews-count">(0)</span>


</div>
<div class="desc">Sample Product</div>
<div class="price">


<del class="regular-price">$968.00</del>
<span class="sale-price">$950.00</span>
<span class="on-sale-badge">Sale</span>

</div>
<div class="status">

<span class="availability">In Stock.</span>

</div>

<div class="action hidden-lg">
<a href="add_cart.asp?quick=1&amp;item_id=15&amp;cat_id=0" class="add-to-cart btn btn-default">
<span class="buyitlink-text"> Select Options</span>
<span class="buyitlink-text ajaxcart-loader"> Select Options</span>
<span class="buyitlink-text ajaxcart-added"> Select Options</span>
</a>
</div>

</div> 
</div>
<div class="product-item wow fadeInUp" data-catalogid="12" data-ajaxcart="1" data-addcart-callback="addcart_callback" data-categoryid="0" style="visibility: visible; animation-name: fadeInUp;">
<div class="img">
<a href="Naminos-elementum-disus-tincidunts_p_12.html">
<img src="assets/images/3dcart/thumbnails/product-1_thumbnail.jpg" alt="Naminos elementum disus tincidunts">
</a>
<div class="action hidden-xs hidden-sm hidden-md">
<a href="add_cart.asp?quick=1&amp;item_id=12&amp;cat_id=0" class="add-to-cart btn btn-default">
<span class="buyitlink-text"> Select Options</span>
<span class="ajaxcart-loader icon-spin2 animate-spin"></span>
<span class="ajaxcart-added icon-ok"></span>
</a>
<div class="reviews">


<span class="reviews-stars rating-0"></span> <span class="reviews-count">(0)</span>


</div>

<button class="quickview" data-toggle="modal">Quick View</button>

</div>
</div> 
<div class="product-desc">
<div class="name">
<a href="Naminos-elementum-disus-tincidunts_p_12.html">Naminos elementum disus tincidunts</a>
</div>
<div class="reviews hidden-lg">


<span class="reviews-stars rating-0"></span> <span class="reviews-count">(0)</span>


</div>
<div class="desc">Sample Product</div>
<div class="price">

<span class="regular-price">$860.00</span>

</div>
<div class="status">

<span class="availability">In Stock.</span>

</div>

<div class="action hidden-lg">
<a href="add_cart.asp?quick=1&amp;item_id=12&amp;cat_id=0" class="add-to-cart btn btn-default">
<span class="buyitlink-text"> Select Options</span>
<span class="buyitlink-text ajaxcart-loader"> Select Options</span>
<span class="buyitlink-text ajaxcart-added"> Select Options</span>
</a>
</div>

</div> 
</div>
<div class="product-item wow fadeInUp" data-catalogid="14" data-ajaxcart="1" data-addcart-callback="addcart_callback" data-categoryid="0" style="visibility: visible; animation-name: fadeInUp;">
<div class="img">
<a href="Tempus-es-lortis-tempus-sapiendos_p_14.html">
<img src="assets/images/3dcart/thumbnails/product3_thumbnail.jpg" alt="Tempus es lortis tempus sapiendos">
</a>
<div class="action hidden-xs hidden-sm hidden-md">
<a href="add_cart.asp?quick=1&amp;item_id=14&amp;cat_id=0" class="add-to-cart btn btn-default">
<span class="buyitlink-text"> Select Options</span>
<span class="ajaxcart-loader icon-spin2 animate-spin"></span>
<span class="ajaxcart-added icon-ok"></span>
</a>
<div class="reviews">


<span class="reviews-stars rating-0"></span> <span class="reviews-count">(0)</span>


</div>

<button class="quickview" data-toggle="modal">Quick View</button>

</div>
</div> 
<div class="product-desc">
<div class="name">
<a href="Tempus-es-lortis-tempus-sapiendos_p_14.html">Tempus es lortis tempus sapiendos</a>
</div>
<div class="reviews hidden-lg">


<span class="reviews-stars rating-0"></span> <span class="reviews-count">(0)</span>


</div>
<div class="desc">Sample Product</div>
<div class="price">


<del class="regular-price">$968.00</del>
<span class="sale-price">$950.00</span>
<span class="on-sale-badge">Sale</span>

</div>
<div class="status">

<span class="availability">In Stock.</span>

</div>

<div class="action hidden-lg">
<a href="add_cart.asp?quick=1&amp;item_id=14&amp;cat_id=0" class="add-to-cart btn btn-default">
<span class="buyitlink-text"> Select Options</span>
<span class="buyitlink-text ajaxcart-loader"> Select Options</span>
<span class="buyitlink-text ajaxcart-added"> Select Options</span>
</a>
</div>

</div> 
</div>
</div>

</div>
</section>


<div id="InstagramGallery">
<div class="ins-container wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
<div class="widget-title">
<h3>BIJOUX Boutique On Instagram</h3>
<a href="http://instagram.com/3dcart/" class="btn btn-black btn-lg insta-btn">View Gallery</a>
</div>
<div id="instafeed" class="owl-carousel"></div>
</div>
</div>


<div id="homeBrands" class="wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
<div class="container">
<h3 class="module-heading header-specials"><span>As Seen On</span></h3>
<div class="owl-carousel owl-loaded owl-drag">










<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2340px;"><div class="owl-item active" style="width: 234px;"><div>
<a href="#" title="RBQ"><img src="/assets/images/brands/brand-1.jpg" alt="RBQ"></a>
</div></div><div class="owl-item active" style="width: 234px;"><div>
<a href="#" title="Black Cosmo"><img src="/assets/images/brands/brand-2.jpg" alt="Black Cosmo"></a>
</div></div><div class="owl-item active" style="width: 234px;"><div>
<a href="#" title="Klorse"><img src="/assets/images/brands/brand-3.jpg" alt="Klorse"></a>
</div></div><div class="owl-item active" style="width: 234px;"><div>
<a href="#" title="Fermends"><img src="/assets/images/brands/brand-4.jpg" alt="Fermends"></a>
</div></div><div class="owl-item active" style="width: 234px;"><div>
<a href="#" title="Medou Co"><img src="/assets/images/brands/brand-5.jpg" alt="Medou Co"></a>
</div></div><div class="owl-item" style="width: 234px;"><div>
<a href="#" title="RBQ"><img src="/assets/images/brands/brand-1.jpg" alt="RBQ"></a>
</div></div><div class="owl-item" style="width: 234px;"><div>
<a href="#" title="Black Cosmo"><img src="/assets/images/brands/brand-2.jpg" alt="Black Cosmo"></a>
</div></div><div class="owl-item" style="width: 234px;"><div>
<a href="#" title="Klorse"><img src="/assets/images/brands/brand-3.jpg" alt="Klorse"></a>
</div></div><div class="owl-item" style="width: 234px;"><div>
<a href="#" title="Fermends"><img src="/assets/images/brands/brand-4.jpg" alt="Fermends"></a>
</div></div><div class="owl-item" style="width: 234px;"><div>
<a href="#" title="Medou Co"><img src="/assets/images/brands/brand-5.jpg" alt="Medou Co"></a>
</div></div></div></div><div class="owl-nav"><div class="owl-prev disabled">prev</div><div class="owl-next">next</div></div><div class="owl-dots disabled"></div></div>
</div>
</div>


</div>
</section></div>



<footer class="site-footer">
<div id="main-footer">
<div class="container">
<div class="row">
<div class="col col-1 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
<h3>Shop</h3>
<ul>
<li><a href="New-In_c_13.html">New In</a></li>
<li><a href="Brides_c_11.html">Brides</a></li>
<li><a href="Bridesmaids_c_12.html">Bridesmaids</a></li>
<li><a href="Menswear_c_61.html">Menswear</a></li>
<li><a href="Jewelry_c_17.html">Jewelry</a></li>
<li><a href="Accessories_c_18.html">Accessories</a></li>
<li><a href="LookBook_ep_42-1.html">Lookbook</a></li>
</ul>
</div>
<div class="col col-2 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
<h3>Information</h3>
<ul>
<li><a href="crm.asp?action=contactus">Contact Us</a></li>
<li><a href="tel:800 828 6650">Toll free 800 828 6650</a></li>
<li><a href="blog.asp">Blog</a></li>
<li><a href="myaccount.asp">My Account</a></li>
<li><a href="giftregistry_home.asp">Gift Registry</a></li>
</ul>
</div>
<div class="col col-3 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
<h3>Helpful Links</h3>
<ul>
<li><a href="#">Shipping + Return</a></li>
<li><a href="Terms-and-Conditions_ep_2-1.html">Terms of Use</a></li>
<li><a href="#">Privacy Policy</a></li>
<li><a href="Frequently-Asked-Questions_ep_1042-1.html">Frequently Asked Questions</a></li>
<li><a href="product_index.asp">Product Index</a></li>
<li><a href="category_index.asp">Category Index</a></li>
</ul>
</div>
<div class="col col-4 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
<h3>Stay Connected</h3>

 <ul class="social-icons list-unstyled list-inline">

<li><a href="https://www.facebook.com/3dCart/" class="facebook" target="_blank" title="Like Us on Facebook"><span class="icon-facebook"></span></a></li>


<li><a href="https://twitter.com/3dcart" class="twitter" target="_blank" title="Follow Us on Twitter"><span class="icon-twitter"></span></a></li>


<li><a href="https://www.instagram.com/3dcart/" class="instagram" target="_blank" title="Follow Us on Instagram"><span class="icon-instagram"></span></a></li>


<li><a href="#" class="pinterest" target="_blank" title="Follow Us on Pinterest"><span class="icon-pinterest"></span></a></li>




</ul>


<div id="mailistBox">
<form id="footerMailingForm" method="post" name="mailing" action="mailing_list.asp?action=add" onsubmit="return footer_mailing_list();">
<h3>Newsletter Sign Up</h3>
<div class="mailist-box">
<input class="email" type="text" name="email" value="" placeholder="Enter your email here">
<input class="btn-submit" type="submit" name="www" value="REGISTER">
</div>
<div class="radio">
<label>
<input type="radio" name="subscribe" value="1" checked=""> Subscribe
</label>
</div>
<div class="radio">
<label>
<input type="radio" name="subscribe" value="0"> Unsubscribe
</label>
</div>
</form>
</div>

</div>
</div>
</div>
</div>
<div id="bottom-footer">
<div class="container">
<div class="row">
<div class="copyright col-sm-6">
<p class="text-left">Copyright <script type="text/javascript" language="javascript">var date = new Date(); document.write(date.getFullYear());</script>2021 Bijoux Store. All Rights Reserved. <a href="https://www.3dcart.com/start-an-online-business.html" target="_blank">with 3dcart Start An Online Business</a>.</p>
</div>
<div class="col-sm-6 payment-methods">
<a href="#" title="Visa"><img src="assets/images/paymentmethods/visa.png" alt="Visa"></a>
<a href="#" title="American Express"><img src="assets/images/paymentmethods/american-express.png" alt="American Express"></a>
<a href="#" title="Master Card"><img src="assets/images/paymentmethods/master-card.png" alt="Master Card"></a>
<a href="#" title="Paypal"><img src="assets/images/paymentmethods/paypal.png" alt="Paypal"></a>
<a href="#" title="Google Wallet"><img src="assets/images/paymentmethods/google-wallet.png" alt="Google Wallet"></a>
<a href="#" title="Apple Pay"><img src="assets/images/paymentmethods/apple-pay.png" alt="Apple Pay"></a>
</div>
</div>
</div>
</div>
</footer>
<a href="javascript:void(0);" id="back-to-top" class=""><i class="fa fa-angle-up"></i></a>
<div class="bg-modal"></div>

<aside id="qv-modal" class="qv qv-modal modal" tabindex="-1" role="dialog" data-catalogid="" data-price="0" data-sku="" data-backdrop="true">
<button type="button" class="qv-close close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
<div class="modal-dialog" role="document">
<div class="modal-vcenter">
<div class="qv-loader">
<span class="mailing-btn-load icon-spin2 animate-spin"></span>
</div>
<div class="product-item modal-content">
<iframe id="qvIframe" frameborder="0"></iframe>
</div>
</div>
</div>
</aside>


<link rel="alternate" type="application/rss+xml" title="Featured Items (RSS 2.0)" href="https://bijoux-preview-com.3dcartstores.com/rss.asp?type=home">
<link rel="alternate" type="application/rss+xml" title="Products On Sale (RSS 2.0)" href="https://bijoux-preview-com.3dcartstores.com/rss.asp?type=onsale">
<link rel="alternate" type="application/rss+xml" title="New Releases (RSS 2.0)" href="https://bijoux-preview-com.3dcartstores.com/rss.asp?type=newreleases">
<link rel="alternate" type="application/rss+xml" title="Best Sellers (RSS 2.0)" href="https://bijoux-preview-com.3dcartstores.com/rss.asp?type=bestsellers">
<link rel="alternate" type="application/rss+xml" title="Latest Blog Posts (RSS 2.0)" href="https://bijoux-preview-com.3dcartstores.com/rss.asp?type=blog">


<link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i|Montserrat:400,400i,500,500i,600,600i,700,700i|Arimo:400,400i,700,700i" rel="stylesheet">
<link rel="StyleSheet" href="assets/templates/bijoux-core/lib/fontello/css/fontello.css?vcart=11.3.6" type="text/css">
<link rel="StyleSheet" href="assets/templates/bijoux-core/lib/fontello/css/animation.css?vcart=11.3.6" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/templates/bijoux-core/css/jquery.mCustomScrollbar.min.css?vcart=11.3.6" type="text/css" media="screen">
<link rel="stylesheet" href="assets/templates/bijoux-core/css/magnific-popup.css?vcart=11.3.6" type="text/css" media="screen">
<link rel="stylesheet" href="assets/templates/bijoux-core/css/animate.css?vcart=11.3.6" type="text/css" media="screen">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="assets/templates/bijoux-core/lib/bootstrap/js/bootstrap.js?vcart=11.3.6"></script>
<script type="text/javascript" src="assets/templates/bijoux-core/js/classie.js?vcart=11.3.6"></script>
<script type="text/javascript" src="assets/templates/bijoux-core/js/core.js?vcart=11.3.6"></script>
<script type="text/javascript" src="assets/templates/bijoux-core/js/main.js?vcart=11.3.6"></script>
<script type="text/javascript" src="assets/templates/bijoux-core/js/mobilecheck.js?vcart=11.3.6"></script>
<script type="text/javascript" src="assets/templates/bijoux-core/js/jquery.mCustomScrollbar.min.js?vcart=11.3.6"></script>
<script type="text/javascript" src="assets/templates/bijoux-core/js/jquery.magnific-popup.min.js?vcart=11.3.6"></script>
<script type="text/javascript" src="assets/templates/bijoux-core/js/js.cookie.js?vcart=11.3.6"></script>
<script type="text/javascript" src="assets/templates/bijoux-core/js/wow.min.js?vcart=11.3.6"></script>
<script type="text/javascript" src="assets/templates/bijoux-core/js/brido.js?vcart=11.3.6"></script>
<script type="text/javascript" src="assets/templates/bijoux-core/js/HaloMegaMenu.js?vcart=11.3.6"></script>
<script>
    var enable_lazy_loading_pc = true;
    var enable_lazy_loading_mobile = false;

    if ((enable_lazy_loading_pc && !jQuery.browser.mobile) || (enable_lazy_loading_mobile && jQuery.browser.mobile)) {
        var wow = new WOW({
            offset: 0, // distance to the element when triggering the animation (default is 0)
            mobile: false // trigger animations on mobile devices (default is true)
        });
        wow.init();
    }
    </script>

<script type="text/javascript">
   jQuery(document).ready(function($) {
      $('.homeCarousel ul').owlCarousel({
         nav: true,                    //Show next/prev buttons.
         dots: true,                   //Show dots navigation.
         items: 1,                     //The number of items you want to see on the screen.
         autoplay: true,               //Autoplay
         autoplayTimeout: 5000,        //Autoplay interval timeout.
         autoplayHoverPause: true,     //Pause on mouse hover.
         loop: true,                   //Infinity loop. Duplicate last and first items to get loop illusion.
         responsiveRefreshRate: 0,     //Responsive refresh rate.
         navText: ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>']
      });
   });
</script>
<script>
 jQuery(document).ready(function() {
    var feed = new Instafeed({
       get: "user",
       userId: 6984597127,
       accessToken: '6984597127.1677ed0.4baef78f9124428386740008024e81a8',
       resolution: "low_resolution",
       limit: "12",
       after: function() {
          jQuery("#instafeed a").attr("target", "_blank");
          if ($(window).width() <= 767) {
              jQuery("#instafeed").owlCarousel({
               nav: true,
               dots: false,
               items: 5,
               margin: 30,
               slideBy: 5,
               responsive: {
                  0: {
                     items: 2,
                     slideBy: 2
                  },
                  420: {
                     items: 2,
                     slideBy: 2
                  },
                  560: {
                     items: 3,
                     slideBy: 3
                  },
                  768: {
                     items: 4,
                     slideBy: 4
                  },
                  992: {
                     items: 4,
                     slideBy: 4
                  },
                  1200: {
                     items: 5,
                     slideBy: 5
                  }
               },
               responsiveRefreshRate: 0
            });
          }
       }
    });
    feed.run();
 });
 </script>
<script type="text/javascript" src="assets/templates/bijoux-core/js/parallax-scroll.js?vcart=11.3.6"></script>
<script type="text/javascript" src="assets/templates/bijoux-core/js/owl.carousel.min.js?vcart=11.3.6"></script>
<script type="text/javascript" src="/assets/templates/bijoux-core/js/instafeed.min.js?vcart=11.3.6"></script>


<link rel="stylesheet" href="assets/templates/bijoux-core/quicksearch/quicksearch.css?vcart=11.3.6" type="text/css" media="screen">
<script type="text/javascript" src="assets/templates/bijoux-core/quicksearch/jquery.quicksearch.js?vcart=11.3.6"></script>
<script type="text/javascript">
        jQuery(function () {
            jQuery('#searchlight').searchlight('/search_quick.asp');
        });

    </script>

<script type="text/javascript">
        jQuery(document).ready(function($) {

            var mql = window.matchMedia('only screen and (max-width: 991px)'),
                handleMQL = function(mql) {
                    if (mql.matches) {

                        // mobile-navigation fixed
                        var mobileNav = $('#mobile-navigation'),
                            mobileNavTopPosition = mobileNav.offset().top;

                        mobileNav.toggleClass('is-fixed', $(window).scrollTop() > mobileNavTopPosition);
                        $('.header-bottom').toggleClass('is-fixed', $(window).scrollTop() > mobileNavTopPosition);

                        $(window).on('scroll', function() {
                            mobileNav.toggleClass('is-fixed', $(window).scrollTop() > mobileNavTopPosition);
                            $('.header-bottom').toggleClass('is-fixed', $(window).scrollTop() > mobileNavTopPosition);
                        });

                        if ($('#mobile-navigation .logo-mobile .logo').children().length == 0) {
                            $('#mobile-navigation .logo-mobile .logo').prepend($('.header-bottom .logo').html());
                        }
                        

                    } else {
                        $('body').removeClass('st-off-canvas');
                        $('#st-container').removeClass('st-effect-1 st-menu-open');

                        // main categories navigation fixed
                        var mainNav = $('#top-categories-menu'),
                            mainNavTopPosition = mainNav.offset().top;

                        $('body').toggleClass('is-fixed', $(window).scrollTop() > mainNavTopPosition);

                        $(window).on('scroll', function() {
                            $('body').toggleClass('is-fixed', $(window).scrollTop() > mainNavTopPosition);
                        });

                    }
                };
            handleMQL(mql);
            mql.addListener(handleMQL);
        });
    </script>
<script type="text/javascript">var _cart_secure_url = "https://bijoux-preview-com.3dcartstores.com"</script>
<script>var refEncoded = encodeURIComponent(document.referrer);(new Image()).src = 'https://bijoux-preview-com.3dcartstores.com/3dvisit.asp?setReferer='+refEncoded</script>
</div></body>